/* line 6, ../sass/practice_body.scss */
.item {
  border-radius: 0px;
  background: #fff;
  padding: 0px;
  margin: 7px;
  text-align: center;
  box-shadow: 0 0 7px 0 #CCC;
  -moz-box-shadow: 0 0 7px 0 #CCC;
  -webkit-box-shadow: 0 0 7px 0 #CCC;
}

/* line 16, ../sass/practice_body.scss */
p {
  padding: 10px;
  color: #666;
}

/* line 20, ../sass/practice_body.scss */
img {
  width: 100%;
  height: auto;
}

/* line 24, ../sass/practice_body.scss */
p {
  text-align: left;
}

@media only screen and (min-width: 768px) {
  /* line 30, ../sass/practice_body.scss */
  .flexbox {
    width: 768px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-height: 800px;
  }

  /* line 38, ../sass/practice_body.scss */
  .item {
    width: 30%;
    box-shadow: 0 0 7px 0 #CCC;
    -moz-box-shadow: 0 0 7px 0 #CCC;
    -webkit-box-shadow: 0 0 7px 0 #CCC;
  }

  /* line 44, ../sass/practice_body.scss */
  p {
    padding: 8px;
    color: #999;
  }
}