/* line 5, ../sass/practice_body3.scss */
.item {
  border-radius: 0;
  background: #fff;
  padding: 0;
  margin: 7px;
  text-align: left;
  -moz-box-shadow: 0 0 7px 0 #ccc;
  -webkit-box-shadow: 0 0 7px 0 #ccc;
  box-shadow: 0 0 7px 0 #ccc;
}

/* line 14, ../sass/practice_body3.scss */
p {
  padding: 10px;
  color: #666;
}

/* line 19, ../sass/practice_body3.scss */
img {
  width: 100%;
  height: auto;
}

/* line 24, ../sass/practice_body3.scss */
p {
  text-align: left;
}

/* line 27, ../sass/practice_body3.scss */
.book_title {
  padding-left: 7px;
}

@media only screen and (min-width: 768px) {
  /* line 32, ../sass/practice_body3.scss */
  .flexbox {
    width: 1050px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  /* line 40, ../sass/practice_body3.scss */
  .item {
    -webkit-flex-basis: 200px;
    flex-basis: 200px;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -moz-box-shadow: 0 0 7px 0 #ccc;
    -webkit-box-shadow: 0 0 7px 0 #ccc;
    box-shadow: 0 0 7px 0 #ccc;
  }

  /* line 46, ../sass/practice_body3.scss */
  p {
    padding: 8px;
    color: #999;
  }
}
