/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
2.0 - Global
3.0 - Header
4.0 - Navigation
5.0 - Content
  5.1 - image iframe
  5.2 - Title 
  5.3 - Sidebar module
*/
/*--------------------------------------------------------------
2.0 - Global
----------------------------------------------------------------
*, *::after, *::before {
  @include box-sizing(border-box);
}
/*html {
  font-size:62.5%;
}*/
/* line 27, ../scss/practice.scss */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 32, ../scss/practice.scss */
body {
  color: #555;
  font: 1em/1.67;
  margin: 0;
}

/* line 38, ../scss/practice.scss */
img, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

/* line 44, ../scss/practice.scss */
.wrapper {
  width: 95%;
  margin: 1.5em auto;
}

/*--------------------------------------------------------------
3.0 - Header
----------------------------------------------------------------*/
/* line 53, ../scss/practice.scss */
header {
  height: 170px;
  background: url("../images/top_bg1.png") repeat-x, top left;
}

/* line 57, ../scss/practice.scss */
a {
  text-decoration: none;
}

/* line 61, ../scss/practice.scss */
li {
  list-style: none;
}

/* line 65, ../scss/practice.scss */
div#header-title .blog_img {
  margin-top: 0px;
  padding-top: 0px;
  height: 120px;
  background: url("../images/top_title.gif") no-repeat top left;
  z-index: 2;
}

/*--------------------------------------------------------------
4.0 - Navigation
----------------------------------------------------------------*/
@media only screen and (min-width: 320px) {
  /* line 78, ../scss/practice.scss */
  .main-nav {
    position: absolute;
    top: 105px;
    float: left;
    width: 100%;
    padding: 15px;
    background: #f9f9f9 url("../images/cd-icon-menu.svg") no-repeat left center;
    cursor: pointer;
  }

  /* line 88, ../scss/practice.scss */
  .main-nav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  /* line 95, ../scss/practice.scss */
  .main-nav ul.is-visible {
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
    transform: translateY(50px);
  }

  /* line 98, ../scss/practice.scss */
  .min-nav ul li {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 5%;
    border-top: 1px solid #453c3d;
    color: #8e7d7f;
  }
}
@media only screen and (min-width: 768px) {
  /* line 110, ../scss/practice.scss */
  .main-nav {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 106px;
    width: 100%;
    cursor: auto;
    height: 50px;
    background-color: #f9f9f9;
    background-image: none;
  }

  /* line 121, ../scss/practice.scss */
  .main-nav ul {
    position: static;
    display: -webkit-flex;
    display: flex;
    -webkit-transform: translateY(-17px);
    -moz-transform: translateY(-17px);
    -ms-transform: translateY(-17px);
    -o-transform: translateY(-17px);
    transform: translateY(-17px);
  }

  /* line 127, ../scss/practice.scss */
  .main-nav ul li {
    display: inline;
    padding: 17px;
  }

  /* line 131, ../scss/practice.scss */
  .main-nav ul li:hover {
    background: #cedff2;
  }

  /* line 134, ../scss/practice.scss */
  .main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
/*--------------------------------------------------------------
5.0 - Content
----------------------------------------------------------------*/
/* line 144, ../scss/practice.scss */
.cd-main-content {
  position: relative;
  clear: both;
}

/* line 149, ../scss/practice.scss */
.main {
  border: 1px solid #fcc;
  margin-bottom: 10px;
}

/* line 154, ../scss/practice.scss */
.side {
  border: 1px solid #fea;
}

/* line 157, ../scss/practice.scss */
.main, .side {
  padding: 2%;
}

@media only screen and (min-width: 768px) {
  /* line 163, ../scss/practice.scss */
  .cd-main-content {
    display: -webkit-flex;
    display: flex;
  }

  /* line 167, ../scss/practice.scss */
  .main {
    margin: 0 10px 0 0;
    flex: 2;
  }

  /* line 171, ../scss/practice.scss */
  .side {
    flex: 1;
  }
}
/*--------------------------------------------------------------
5.1 - image iframe 
----------------------------------------------------------------*/
/* line 178, ../scss/practice.scss */
img, iframe {
  max-height: 100%;
  height: auto;
  display: block;
}

/* line 184, ../scss/practice.scss */
.masonry {
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}

/* line 193, ../scss/practice.scss */
.item {
  display: inline-block;
  background: #fff;
  padding: 1.5em;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/*--------------------------------------------------------------
5.2 - Title 
----------------------------------------------------------------*/
/* line 207, ../scss/practice.scss */
.title, .footer {
  text-align: center;
}

/* line 211, ../scss/practice.scss */
.title {
  font-size: 1.75em;
  margin: .25em 0;
}

/* line 216, ../scss/practice.scss */
.title a {
  display: inline-block;
  padding: .75em 1.25em;
  color: #888;
  border: 2px solid #aaa;
  margin: .25em 1em 1em;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 226, ../scss/practice.scss */
.title {
  color: #666;
}

/* line 230, ../scss/practice.scss */
.title a:hover {
  color: #666;
  border-color: #888;
}

/* line 235, ../scss/practice.scss */
.share-link,
.article-link {
  color: #888;
}

@media only screen and (min-width: 320px) {
  /* line 241, ../scss/practice.scss */
  .masonry {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}
@media only screen and (min-width: 700px) {
  /* line 247, ../scss/practice.scss */
  .masonry {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 900px) {
  /* line 254, ../scss/practice.scss */
  .masonry {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media only screen and (min-width: 1200) {
  /* line 260, ../scss/practice.scss */
  .masonry {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}
/*--------------------------------------------------------------
5.3 - Sidebar module
----------------------------------------------------------------*/
/* line 269, ../scss/practice.scss */
.module {
  position: relative;
  overflow: hidden;
  width: 100%;
  font-size: .9rem;
}

/* line 275, ../scss/practice.scss */
ul.top-module-ul > li {
  margin: 1px 7px 1px 0px;
  padding: 10px 0 8px 12px;
  list-style: none;
  border-left: 4px solid #ccc;
  background-color: #eeefef;
  color: #666;
  font-weight: bold;
}

/* line 285, ../scss/practice.scss */
ul.top-module-ul > li:hover {
  background: #f9f9f9;
}

/* line 288, ../scss/practice.scss */
.top-module-list-home {
  margin: 1px 7px 0px 0;
  padding: 5px 0 3px 12px;
  list-style: none;
  color: #666;
  font-weight: bold;
}

/* line 296, ../scss/practice.scss */
.top-module-list {
  margin: 1px 7px 1px 0;
  padding: 5px 0 3px 12px;
  list-style: none;
  border-left: 4px solid #ccc;
  background-color: #eeefef;
  color: #666;
  font-weight: bold;
  font-size: .9rem;
}

/* line 306, ../scss/practice.scss */
.top-module-list a:link {
  color: #36414d;
  font-weight: bold;
  font-size: .9rem;
}

/* line 312, ../scss/practice.scss */
.top-module-list a:visited {
  color: #36414d;
  font-weight: bold;
}

/* line 316, ../scss/practice.scss */
.top-module-list-hover {
  margin: 1px 7px 1px 0;
  padding: 5px 0 3px 12px;
  list-style: none;
  border-left: 4px solid #ccc;
  background-color: #ffffff;
  color: #666;
  font-weight: bold;
}

/* line 325, ../scss/practice.scss */
.top-module-list-furu {
  font-size: .9rem;
  margin: 1px 7px 2px 0;
  padding: 5px 0 4px 12px;
  list-style: none;
  border-left: 4px solid #74C4AE;
  background-color: #eeefef;
  color: #666;
  font-weight: bold;
}

/* line 335, ../scss/practice.scss */
.top-module-list-w {
  margin: 1px 7px 1px 0;
  padding: 5px 0 3px 12px;
  list-style: none;
  border-left: 4px solid #fff;
  background-color: #fff;
  color: #8f8f8f;
}

/* line 343, ../scss/practice.scss */
.top-module-list-home a:link, .top-module-list-home a:visited {
  color: #36414d;
  font-weight: bold;
}

/* line 347, ../scss/practice.scss */
.top-module-list a:link {
  color: #36414d;
  font-weight: bold;
}

/* line 353, ../scss/practice.scss */
.top-module-list a:visited {
  color: #36414d;
  font-weight: bold;
}

/* line 357, ../scss/practice.scss */
.top-module-list-w a:link {
  color: #183390;
  font-weight: bold;
}

/* line 361, ../scss/practice.scss */
.top-module-list-w a:visited {
  color: #183390;
  font-weight: bold;
}

/*--------------------------------------------------------------
5.4 - FOrm elements
----------------------------------------------------------------*/
/* line 370, ../scss/practice.scss */
textarea {
  width: 430px;
  height: 200px;
  border: 1px solid #bcbcbc;
  background-color: #fff;
}

/* line 376, ../scss/practice.scss */
input {
  width: 169px;
  height: 22px;
  margin-bottom: 7px;
  border: 1px solid #bcbcbc;
  background-color: #fff;
}

/* line 383, ../scss/practice.scss */
input #button {
  width: 130px;
  height: 22px;
  background-color: #ccc;
}

/* line 388, ../scss/practice.scss */
#submit, #searchsubmit {
  width: 220px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  border: 1px solid #bcbcbc;
  background-color: #999;
}

/* line 396, ../scss/practice.scss */
#searchform {
  margin-top: 15px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 10px;
  padding-left: 6px;
  padding-bottom: 5px;
  background: #f8f8f8;
  border: 1px solid #d0d0d0;
  -moz-border-radius: 2px;
  /*firefox*/
  -webkit-border-radius: 2px;
  /*Safari and Chrome*/
  border-radius: 2px;
  /*Opera, IE9, future-proofing*/
}

/* line 409, ../scss/practice.scss */
.button {
  width: 130px;
  background-color: #cccccc;
  height: 24px;
}
