/* Table of Content */
/*//////

//////*/
/* line 16, ../scss/style001.scss */
body {
  position: absolute;
  align-content: space-between;
  background: #fcfaff;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

/* line 25, ../scss/style001.scss */
header,
main,
footer {
  flex-basis: 100%;
  padding: 10px;
}

/* line 32, ../scss/style001.scss */
header,
footer {
  background: #fff;
}

/* line 37, ../scss/style001.scss */
header {
  border-bottom: 1px solid #e5e5e5;
}

/* line 41, ../scss/style001.scss */
footer {
  border-top: 1px solid #e5e5e5;
}
