@import "compass/css3";

@import 'bourbon/bourbon'; 



*, *::after, *::before {
  @include box-sizing(border-box);
}
/*html {
  font-size:62.5%;
}*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color:#555;
  font: 1em/1.67;
  margin:0;
}

img, iframe {
	max-width: 100%;
	height: auto;
	display: block;
}

.wrapper {
	width: 95%;
	margin: 1.5em auto;
}







/* ヘッダー */

header {
    height:170px;
    background:url('../img/top_bg1.png') repeat-x, top left;
}

a {
    text-decoration: none;
}

li {
    list-style:none;
}
div#header-title .blog_img {
  margin-top:0px;
  padding-top:0px;
  height:120px;
  background:url('../img/top_title.gif') no-repeat top left;
  z-index: 2;
}


@media only screen and (min-width: 320px) {
.main-nav {
 position:absolute;
 top:105px;
 float:left;
 width:100%;
 padding:15px;
 background: #f9f9f9 url('../img/cd-icon-menu.svg') no-repeat left center;
 cursor: pointer;
 }

 .main-nav ul {
 position:absolute;
 top:0;
 left:0;
 width:100%;
@include transform(translateY(-300%));
 }
 .main-nav ul.is-visible {
 @include transform(translateY(50px));
 }
 .min-nav ul li {
 display:block;
 height:50px;
 line-height:50px;
 padding-left: 5%;
 border-top: 1px solid #453c3d;
 color:#8e7d7f;
 }
}


@media only screen and (min-width: 768px) {
  .main-nav {
  padding:0;
  margin:0;
	position:absolute;
	top:106px;
  width:100%;
  cursor: auto;
  height:50px;
  background-color:#f9f9f9;
  background-image:none;
  }
  .main-nav ul {
  position:static;
  @include display-flex;
  @include transform(translateY(-17px));

  }
	.main-nav ul li {
	display: inline;
  padding:17px;
  }
  .main-nav ul li:hover {
  background:#cedff2;
  }
  .main-nav ul.is-visible {
  @include transform(translateY(0));
  }
   
}





/* コンテンツ */
.cd-main-content {
    position:relative;
    clear:both;
}
.main{
    border:1px solid #fcc;
    margin-bottom:10px;
}
.side {
    border:1px solid #fea;
}
.main, .side {
    padding:2%;
}

@media only screen and (min-width:768px) {
    .cd-main-content {
    @include display-flex;
    }
    .main {
    margin:0 10px 0 0;
    flex: 2;
    }
    .side {
    flex: 1;
    }
}


/* コンンテンツ一覧 */
img, iframe {
	max-width: 100%;
	height:auto;
	display:block;
}

.masonry {
	margin :1.5em 0;
	padding:0;
	-moz-column-gap:1.5em;
	-webkit-column-gap:1.5em;
	column-gap:1.5em;
	font-size: .85em;

}

.item {
	display:inline-block;
	background: #fff;
	padding: 1.5em;
	margin:0 0 1.5em;
	width:100%;
	@include box-sizing(border-box);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.18);
	@include border-radius(3px);
}

.title, .footer {
	text-align:center;
}

.title {
	font-size:1.75em;
	margin: .25em 0;
}

.title a {
	display:inline-block;
	padding:.75em 1.25em;
	color:#888;
	border:2px solid #aaa;
	margin: .25em 1em 1em;
	text-decoration:none;
	@include border-radius(3px);
}

.title {
	color:#666;
}

.title a:hover {
	color:#666;
	border-color:#888;
}

.share-link,
.article-link {
	color:#888;
}
@media only screen and (min-width: 320px) {
	.masonry {
		@include column-count(2);
	}
}
@media only screen and (min-width:700px) {
	.masonry {
		@include column-count(3);
	}
}


@media only screen and (min-width:900px) {
	.masonry {
		@include column-count(3);
	}
}

@media only screen and (min-width:1280px) {
	.masonry {
		@include column-count(4);
	}
}
/* sidebar */

.module{
  position: relative;
  overflow: hidden;
  width:100%;
  font-size:.9rem;
}
ul.top-module-ul>li {
  margin: 1px 7px 1px 0px;
  padding: 10px 0 8px 12px;
  list-style:none;
  border-left:4px solid #ccc;
  background-color:#eeefef;
  color:#666;
  font-weight: bold;  
}

ul.top-module-ul>li:hover {
  background:#f9f9f9;
}
.top-module-list-home {
  margin: 1px 7px 0px 0;
  padding: 5px 0 3px 12px;
  list-style:none;
  color:#666;
  font-weight: bold;
}

.top-module-list {
  margin: 1px 7px 1px 0;
  padding: 5px 0 3px 12px;
  list-style:none;
  border-left:4px solid #ccc;
  background-color:#eeefef;
  color:#666;
  font-weight: bold;
  font-size:.9rem;
}
.top-module-list a:link{
  color:#36414d;
  font-weight: bold;
  font-size:.9rem;
}

.top-module-list a:visited {
  color:#36414d;
  font-weight: bold;
}
.top-module-list-hover {
  margin: 1px 7px 1px 0;
  padding: 5px 0 3px 12px;
  list-style:none;
  border-left:4px solid #ccc;
  background-color:#ffffff;
  color:#666;
  font-weight: bold;
}
.top-module-list-furu {
  font-size:.9rem;
  margin: 1px 7px 2px 0;
  padding: 5px 0 4px 12px;
  list-style:none;
  border-left:4px solid #74C4AE;
  background-color:#eeefef;
  color:#666;
  font-weight: bold;
}
.top-module-list-w {
  margin: 1px 7px 1px 0;
  padding: 5px 0 3px 12px;
  list-style:none;
  border-left:4px solid #fff;
  background-color:#fff;
  color:#8f8f8f;
}
.top-module-list-home a:link, .top-module-list-home a:visited {
  color:#36414d;
  font-weight: bold;
}
.top-module-list a:link{
  color:#36414d;
  font-weight: bold;

}

.top-module-list a:visited {
  color:#36414d;
  font-weight: bold;
}
.top-module-list-w a:link {
  color:#183390;
  font-weight: bold;
}
.top-module-list-w a:visited {
  color:#183390;
  font-weight: bold;
}
/*////////// イメージナビ //////////*/
#navImage {
  padding-top:7px;
  padding-left: 11px;
}
#navImage_after {
  padding-top:12px;
  padding-left:11px;
}
#navImage_after img, #navImage_after a:link img, #navImage_after a:visited img {
  padding-top:12px;
  padding-left:2px;
}
#navImage img {
  padding-top:8px;
  padding-bottom:3px;
}

#navImage .web_joshufu img {
  padding-top:5px;
  padding-bottom:9px;
}

/*//////////　Form elements　//////////*/
textarea{
  width:430px;
  height:200px;
  border:1px solid #bcbcbc;
  background-color:#fff;
  }
input{
  width:169px;
  height:22px;
  margin-bottom:7px;
  border:1px solid #bcbcbc;
  background-color:#fff;
  }
input #button{
  width:130px;
  height:22px;
  background-color: #ccc;
}
#submit,#searchsubmit{
  width:220px;
  padding-top:10px;
  padding-left:10px;
  padding-bottom:5px;
  border:1px solid #bcbcbc;
  background-color:#999;
  }
#searchform {
  margin-top:15px;
  margin-left:3px;
  margin-right:3px;
  padding-top:10px;
    padding-left:6px;
  padding-bottom:5px;
  background:#f8f8f8;
  border: 1px solid #d0d0d0;
  -moz-border-radius:2px;/*firefox*/
  -webkit-border-radius:2px;/*Safari and Chrome*/
  border-radius:2px;/*Opera, IE9, future-proofing*/
    }
  .button {
    width:130px;
    background-color:#cccccc;
    height:24px;
  }
